.App {
  text-align: center;
  height:100vh;
  
  overflow-x: hidden;
  
}

.App-logo {
  height: 40vmin;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.header {

  text-align: center;
  font-size: 40px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
   
}

.grid{
  display: grid;
  grid-template-columns: 80px auto ;
height:100vh;
overflow-y: hidden;
gap: 100px;
}

.panel{
  background-color:#FFD9B6;
overflow-y: hidden;
overflow-x: hidden;
}

.brand-dir{
  
  text-align: left;
  overflow-y: hidden;
  margin-right: 100px;
}

.rows{
   text-align:left;
   font-size: x-large;
  
}


.grid {
  position: relative;
 
}
.user {
  position: absolute;
  bottom: 0;
  left: 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
